@CHARSET "UTF-8";
 /* Data Tables. */
  
  .dataTables_wrapper:before,
.dataTables_wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper:after {
  clear: both;
}
.dataTables_wrapper:before,
.dataTables_wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper:after {
  clear: both;
}
.dataTables_wrapper table {
  margin-bottom: 0;
}
.dataTables_wrapper table thead tr th {
  font-weight: bold;
  outline: none;
  cursor: default;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.dataTables_wrapper table thead tr th.sorting_asc:before,
.dataTables_wrapper table thead tr th.sorting_desc:before {
  display: block;
  float: right;
  color: #303641;
  font-family: 'Entypo';
  content: '\e876';
}
.dataTables_wrapper table thead tr th.sorting_desc:before {
  content: '\e873';
}
.dataTables_wrapper table thead tr th:active {
  outline: none;
}
.dataTables_wrapper table thead tr th.sorting_asc,
.dataTables_wrapper table thead tr th.sorting_desc {
  color: #303641;
}
.dataTables_wrapper table tfoot tr th {
  font-weight: bold;
}
.dataTables_wrapper table + .row {
  margin-bottom: 20px;
}
.dataTables_wrapper > table:first-child {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.dataTables_wrapper a {
  cursor: pointer;
  outline: none;
}
.dataTables_wrapper .col-left {
  padding-right: 0;
}
.dataTables_wrapper .col-right {
  padding-left: 0;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  background: #fff;
  border: 1px solid #ebebeb;
  border-bottom: 0;
  padding: 15px 12px;
  height: 58px;
}
.dataTables_wrapper .dataTables_length:before,
.dataTables_wrapper .dataTables_filter:before,
.dataTables_wrapper .dataTables_length:after,
.dataTables_wrapper .dataTables_filter:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper .dataTables_length:after,
.dataTables_wrapper .dataTables_filter:after {
  clear: both;
}
.dataTables_wrapper .dataTables_length:before,
.dataTables_wrapper .dataTables_filter:before,
.dataTables_wrapper .dataTables_length:after,
.dataTables_wrapper .dataTables_filter:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper .dataTables_length:after,
.dataTables_wrapper .dataTables_filter:after {
  clear: both;
}
.dataTables_wrapper .dataTables_length {
  border-right: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.dataTables_wrapper .dataTables_length > label {
  white-space: nowrap;
  margin-top: -7px;
}
.dataTables_wrapper .dataTables_length > label .select2-container {
  display: inline-block;
  width: auto !important;
  min-width: 87px;
}
.dataTables_wrapper .dataTables_filter {
  border-left: 0;
  padding-top: 13px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.dataTables_wrapper .dataTables_filter > label {
  float: right;
  display: block;
  white-space: nowrap;
}
.dataTables_wrapper .dataTables_filter > label input {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: inline-block;
  width: 150px;
  margin-left: 5px;
}
.dataTables_wrapper .dataTables_filter > label input:focus {
  border-color: #c8cdd7;
  outline: 0;
  -moz-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  -webkit-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
}
.dataTables_wrapper .dataTables_filter > label input::-webkit-input-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input:-moz-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input::-moz-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input:-ms-input-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input:-moz-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input::-moz-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input:-ms-input-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input::-webkit-input-placeholder {
  color: #aaaaaa;
}
.dataTables_wrapper .dataTables_filter > label input[disabled],
.dataTables_wrapper .dataTables_filter > label input[readonly],
fieldset[disabled] .dataTables_wrapper .dataTables_filter > label input {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.dataTables_wrapper .dataTables_filter > label input {
  height: auto;
}
.dataTables_wrapper .select2-container {
  display: inline-block !important;
  margin-left: 5px;
  margin-right: 5px;
}
.dataTables_wrapper .select2-container .select2-choice {
  height: 25px;
  line-height: 24px;
}
.dataTables_wrapper .select2-container .select2-choice .select2-chosen {
  padding-right: 15px;
}
.dataTables_wrapper .select2-container .select2-choice .select2-arrow {
  width: 25px;
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  padding: 10px 12px;
  border: 1px solid #ebebeb;
  border-top: 0;
  background: #fafafa;
  height: 47px;
}
.dataTables_wrapper .dataTables_info:before,
.dataTables_wrapper .dataTables_paginate:before,
.dataTables_wrapper .dataTables_info:after,
.dataTables_wrapper .dataTables_paginate:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper .dataTables_info:after,
.dataTables_wrapper .dataTables_paginate:after {
  clear: both;
}
.dataTables_wrapper .dataTables_info:before,
.dataTables_wrapper .dataTables_paginate:before,
.dataTables_wrapper .dataTables_info:after,
.dataTables_wrapper .dataTables_paginate:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dataTables_wrapper .dataTables_info:after,
.dataTables_wrapper .dataTables_paginate:after {
  clear: both;
}
.dataTables_wrapper .dataTables_info.dataTables_info,
.dataTables_wrapper .dataTables_paginate.dataTables_info {
  border-right: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  line-height: 30px;
}
.dataTables_wrapper .dataTables_info.dataTables_paginate,
.dataTables_wrapper .dataTables_paginate.dataTables_paginate {
  border-left: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  text-align: right;
}
.dataTables_wrapper .dataTables_info.dataTables_paginate .pagination,
.dataTables_wrapper .dataTables_paginate.dataTables_paginate .pagination {
  margin: 0;
}
.dataTables_wrapper .export-data {
  position: absolute;
  right: 250px;
  top: 13px;
}
.page-body .datatable.table tbody td,
.page-body .datatable.table tbody th {
  vertical-align: middle;
}
  
  /* End data tables.*/
  
  /* Pagination. */
  .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 17px 0;
  border-radius: 3px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #f5f5f6;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #303641;
  border-color: #303641;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 15px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 11px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pager {
  padding-left: 0;
  margin: 17px 0;
  list-style: none;
  text-align: center;
}
.pager:before,
.pager:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.pager:after {
  clear: both;
}
.pager:before,
.pager:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f6;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}
  /* End Pagination */
  
  /* Table borders and stripes. */
  .table-bordered {
  border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #f5f5f6;
  border-bottom-width: 1px;
  color: #a6a7aa;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  background-color: #f5f5f6;
  border-top-width: 1px;
  color: #a6a7aa;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f8f8f8;
}
  /* End borders and stripes. */
  
  /* Replace inputs. */
  table .replace-inputs input {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
table .replace-inputs input:focus {
  border-color: #c8cdd7;
  outline: 0;
  -moz-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  -webkit-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
}
table .replace-inputs input::-webkit-input-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input:-moz-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input::-moz-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input:-ms-input-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input:-moz-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input::-moz-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input:-ms-input-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input::-webkit-input-placeholder {
  color: #aaaaaa;
}
table .replace-inputs input[disabled],
table .replace-inputs input[readonly],
fieldset[disabled] table .replace-inputs input {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textareatable .replace-inputs input {
  height: auto;
}
  /* End replace inputs. */